@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

body{
  font-size: 14pt;
  font-family: 'Space Mono', monospace;
}

a {
  text-decoration:  none;
  background-color: black;
  color:            white;
  padding:          10px;
  }
